config MACH_LGE
	bool

menu "LGE Board Selection"
source "arch/arm/mach-msm/lge/Kconfig.board"
endmenu

menu "LGE Specific Patches"

config LGE_HANDLE_PANIC
    tristate "Support LGE Kernel Panic Handler"
    default n
    depends on MACH_LGE
    help
    LGE Error handler.

config LGE_HIDDEN_RESET
	tristate "LGE hidden reset"
	default n
	depends on MACH_LGE && LGE_HANDLE_PANIC
	help
	  Enables support for LGE hidden reset. For turn on this feature,
	  "echo 1 > /sys/module/lge_handle_panic/parameters/hreset_enable"
	  or "lge_handle_panic.hreset_enable=1" from cmdline.

config LGE_QFPROM_INTERFACE
    bool "Support qfprom interface"
    default n
    depends on MACH_LGE
    help
    LGE QFPROM DRIVER.
config LGE_LCD_TUNING
     bool "lcd_tuning"
	 default n
	 depends on MACH_LGE
	 help
		Support LCD tuning.

config LGE_QC_LCDC_LUT
     bool "Set initial Qualcomm LCDC lut"
         default n
         depends on MACH_LGE
         help
                Set initail Qualcomm LCDC Look Up Table.

config LGE_KCAL
     bool "Interface to calibrate LCD color temperature"
         default n
         depends on MACH_LGE
         help
                Interface to calibrate LCD color temperature

config LGE_KCAL_QLUT
     bool "Interface to calibrate LCD color temperature by QLUT"
         default n
         depends on MACH_LGE && LGE_QC_LCDC_LUT && LGE_KCAL
         help
                Interface to calibrate LCD color temperature by QLUT

config LGE_USES_SMD_DS_TTY
	bool "Explicitly use smd tty driver for DS"
	default n
	depends on MSM_SMD_TTY && MACH_LGE
	help
		In Qualcomm MSM8960, smd tty driver for ds(/dev/smd0) is not used.
		Say yes if this tty driver must be used on LGE device. This is used
		to connect smd channel in user space(for example, ATCMD processing).

config LGE_SUSPEND_TIME
    tristate "Log time spent in suspend"
    default y
    depends on MACH_LGE
	help
	  Prints the time spent in suspend in the kernel log, and
	  keeps statistics on the time spent in suspend in
	  /sys/kernel/debug/suspend_time

	  This patch serves same function with google's suspend_time.c

config LGE_EARLYSUSPEND_FUNC_TIME
    tristate "Log time spent in each earlysuspend call"
    default y
    depends on MACH_LGE
	help
	  Keeps the time statistics spent in each earlysuspend in 
	  /sys/kernel/debug/earlysuspend_func_time.
	  This file shows the average and max tiem of each 
	  earlysuspend/lateresume function.

config LGE_SUSPEND_AUTOTEST
    tristate "Test suspend/resume and earlysuspend/lateresume automatically"
    default y
    depends on MACH_LGE && SUSPEND && EARLYSUSPEND
	help
      This option will let you suspend your machine, and make it wake up
	  a few seconds later using an timer automatically.  
	  Enable this with a kernel parameter by sysfs.

config LGE_LOG_SERVICE
	bool "Support LGE log service"
	default y
	depends on MACH_LGE
	help
	  Support LGE log service. The author of this patch is cs77.ha@lge.com

#BEGIN: 0019632 chanha.park@lge.com 2012-05-31
#ADD: 0019632: [F200][BT] Bluetooth board bring-up	  
config LGE_BLUESLEEP
	default y
	bool "MSM8960 LGE Bluetooth LPM"
	depends on MACH_LGE
#END: 0019632 chanha.park@lge.com 2012-05-31	
	
config LGE_LASTLBA_BACKUPGPT
	bool "Force to find Backup GPT at LAST LBA"
	depends on EFI_PARTITION
	help
	  Say Y here if you would like to make kernel always find Backup GPT
	  at Last LBA.
config LGE_ETB_SUSPEND
    tristate "Disable ETB during suspend state"
    default y
    depends on MACH_LGE
	depends on MSM_QDSS
	help
	  Disable ETB during suspend state for entering XO shutdown,

config LGE_BITE_RESET
	tristate "Disable PS_HOLD reset"
	default n
	depends on MACH_LGE
	help
	  Reset device by WDT BITE instead of PS_HOLD
endmenu
