config KYOCERA_ORIGINAL_FEATURE
	bool "KYOCERA_ORIGINAL_FEATURE"

config TARGET_PROTOTYPE_WS0
    bool "TARGET_PROTOTYPE_WS0"

config TARGET_PROTOTYPE_WS1
    bool "TARGET_PROTOTYPE_WS1"

config TARGET_PROTOTYPE_WS2
    bool "TARGET_PROTOTYPE_WS2"

config TARGET_PRODUCT_C5155
    bool "TARGET_PRODUCT_C5155"

config TARGET_PRODUCT_C5170
    bool "TARGET_PRODUCT_C5170"
